@import '../../styles/vars';

.moviesPoster {
  padding-top: 3rem;

  &-title-movies {
    text-align: center;
    font-size: 2em;
    margin: 1.4rem 0;
  }

  &-poster {
    width: 150px;
    height: 225px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;

    &-container {
      display: flex;
      margin: 0rem auto 2rem;
      width: 90%;
      border: 1px solid $color-slateBlue;
      padding: 2rem 1rem;
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-right: none;
      border-left: none;
    }

    &-director {
      text-align: right;
      font-size: .7rem;
      opacity: .7;
      margin: 1rem 0;
    }
    
    &-img {
      width: 150px;
      height: 225px;
      display: block;
      border-radius: 10px;
      margin: auto;
    }

    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1.5rem;
    }

    &-title {
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;
      font-style: italic;
      font-size: 1.5em;
      color: $color-green;
    }

    &-overview {
      margin: 0 auto;
      font-size: .8rem;
      letter-spacing: .1px;
      font-style: italic;
      text-align: justify;
      line-height: 15px;
    }
  }

  &-movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &-container-movie {
    margin: 1rem 10px;
  }

  &-titleMovie {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding-top: 0;
    margin-left: 265px;
  }
}