@import '../../styles/vars';

.moviesPoster {
  padding-top: 3rem;

  &-title-movies {
    text-align: center;
    font-size: 32px;
    margin: 1.4rem 0;
  }

  &-subtitle-movies {
    text-align: center;
    color: rgb(196, 196, 196);
    font-size: 22px;
  }

  &-hr {
    width: 47%;
    margin: 1rem auto 3rem;
    border: none;
    height: 1px;
    background: #C4C4C4;
  }

  &-poster {
    width: 150px;
    height: 225px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;

    &-container {
      display: flex;
      margin: 0rem auto 2rem;
      width: 90%;
      border: 1px solid $color-slateBlue;
      padding: 2rem 1rem;
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-right: none;
      border-left: none;
    }

    &-director {
      text-align: right;
      font-size: .7rem;
      opacity: .7;
      margin: 1rem 0;
    }
    
    &-img {
      width: 150px;
      height: 225px;
      display: block;
      border-radius: 10px;
      margin: auto;
    }

    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1.5rem;
    }

    &-title {
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;
      font-style: italic;
      font-size: 1.5em;
      color: $color-green;
    }

    &-overview {
      margin: 0 auto;
      font-size: .8rem;
      letter-spacing: .1px;
      font-style: italic;
      text-align: justify;
      line-height: 15px;
    }
  }

  &-movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &-container-movie {
    margin: 1rem 10px;
  }

  &-titleMovie {
    text-align: center;
  }

  &-card-desktop {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;

    &-link {
      // margin-right: auto;
      width: 80%;
    }

    &-cont {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    &-title {
      color: $color-green;
      font-size: 22px;
      text-align: center;
      margin: .6rem 0;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: .05rem;
    }

    &-img {
      width: 266px;
      height: 400px;
      border-radius: 10px;
    }

    &-info {
      font-size: 14px;
    }

    &-desc {
      padding: 1rem 2rem;
      font-size: 16px;
      line-height: 1.2rem;
      letter-spacing: .05rem;
      text-align: justify;
    }

    &-actors {
      margin-left: 5px;
      font-size: 14px;
      font-style: italic;

      // & span:last-child { 
      //   display: none; 
      // }

      &--pre {
        font-size: 14px;
      }

      &-cont {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .moviesPoster {
    padding-top: 0;
    margin-left: 265px;

    &-container-page {
      display: flex;

      &--2 {
        display: flex;
        flex-direction: column;
        border: 1px solid  rgb(196, 196, 196);
        border-top: none;
        border-right: none;
        border-bottom: none;
        padding: 0 4rem;
      }
    }
  }
}