@import './flexbox';
@import './vars';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // &:-moz-selection {
  //   background-color: $color-green;
  //   color: $color-blueDragee;
  // }
  // &:selection { 
  //   background-color: $color-green;
  //   color: $color-blueDragee;
  // }
}

html[data-theme="dark"]  {
  color: rgb(250, 250, 250);
  background-color: rgb(5, 5, 5);
  transition: .8s ease;
}

html[data-theme="light"]  {
  color: rgb(5, 5, 5);
  background-color: rgb(250, 250, 250);
  transition: .8s ease;
}