@import '../../styles/vars';

.sidebar {
  position: relative;
  /**
   * HEADBAND Sidebar
  */
  &-headband {
    width: 100%;
    position: fixed;
    background-color: $color-green;
    height: 50px;
    -webkit-box-shadow: 0px 0px 5px 0px $boxShadowSidebar;
    -moz-box-shadow: 0px 0px 5px 0px $boxShadowSidebar;
    box-shadow: 0px 0px 5px 0px $boxShadowSidebar;
    transition: all .35s ease 0s;
    transform: translate3d(0px, 0px, 0px);
    z-index: 5;

    &-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }

    &-logo {
      height: 50px;
      width: 200px;
      object-fit: cover;
    }

    &-search {
      cursor: pointer;
      font-size: 20px;
      color: $color-slateBlue;
    }
  }

  /**
   * SIDEBAR Container
  */
  &-logo {
    display: block;
    margin: 0 auto;
  }

  &-mainContainer {
    transition: left .05s, right 0s;
    position: fixed;
    width: 255;
    height: calc(100% - 32px);
    z-index: 901;
  }

  &-container {
    transition: left 0.35s, right 0s;
    position: absolute;
    width: 255;
    height: calc(100% - 32px);
    z-index: 901;
  }

  &-hide {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    transition: all .05s ease 0s;
    transform: translate3d(-100%, 0px, 0px);
  }

  &-show {
    left: 0;
    position: fixed;
    right: inherit;
    z-index: 1100;
    width: 255px;
    height: 100vh;
    transition: all .35s ease 0s;
    background-color: $color-slateBlue;
  }

  &-menuList {
    margin-top: 40px;
  }

  &-burger {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    color: $color-slateBlue;

    &-on {
      position: absolute;
      width: 100vw;
      min-width: 100%;
      height: 100vh;
      transition: .35s ease;
      background-color: rgba(0,0,0,.50);
      z-index: 900;
    }
  }
}

/**
 * MENUITEM Sidebar
*/
.menuItem {
  height: 56px;
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &:hover {
    background-color: rgba(221,226,255, 0.08);
    transition: .8s;
  }

  &-column {
    display: flex;
    flex-flow: column nowrap;
  }

  &-activeContainer {
    display: flex;
    height: 56px;
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
    transition: background-color 0.425s ease-in-out 0s;
    background-color: rgba(221, 226, 255, 0.08);
    color: #dde2ff;
    border-left: 3px solid $color-blueDragee;
  }

  &-activeBar {
      height: 56;
      width: 3;
      background-color: $color-blueDragee;
      position: absolute;
      left: 0;
  }

  &-title {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    margin-left: 24px;
  }

  &-activeTitle {
    color: $color-blueDragee;
  }
}
  /**
   * SubItemSidebar
  */
 .subItem {
  cursor: pointer;
  padding-left: 64px;
  transition: background-color 0.425s ease-in-out 0s;
  border-left: 3px solid rgb(139, 141, 148);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 56px;

    &:hover {
      background-color: rgba(221, 226, 255, .08)
    }

    &-activeContainer {
      background-color: rgba(221, 226, 255, .08);
    }

    &-activeBar {
      border-left: 3px solid #dde2ff;
    }

    &-inactiveBar {
      border-left: 3px solid #8b8d94;
    }

    &-title {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #a4a6b3;
      margin-left: 24px;
    }

    &-activeTitle {
      color: #dde2ff;
    }

 }


@media screen and (min-width: 768px) {
  .sidebar {

    &-headband {
      transition: all .35s ease 0s;
      transform: translate3d(-100%, 0, 0px);
    }

    &-mainContainer {
      height: 100%;
      min-height: 100vh;

      position: fixed;
      right: inherit;
      z-index: 1100;
      width: 255px;
    }

    &-menuList {
      margin-top: 0px;
    }

    &-hide {
      transform: none;
    }

    &-container {
      background-color: #363740;
      width: 255px;
      padding-top: 32px;
    }
  }
}